{% extends 'base/base.html' %}
{% load static %}


{% block container %}
<div>
 <h3>API documentation</h3>
 <a href="/redoc/">Link Documentation Redoc</a>
 <br/>
 <a href="/doc/">Link Documentation Swagger</a>
<hr/>

<h3>Python Code</h3>
<p>Create File: <code>demo.py</code></p>
<pre>import requests

url = "http://localhost:8000/api/auth/login/"
    
payload={'email': 'demo@demo.es',
    'password': 'demo12'}
    
response = requests.request("POST", url, headers=headers, data=payload, files=files)
print(response.text)</pre>
</div>
{% endblock container %}



